@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); /* Montserrat font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"); /* Poppins font*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"); /* Search */
/*<span class="material-symbols-outlined">search</span>*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"); /* Headphones*/
/*<span class="material-symbols-outlined">headphones</span>*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"); /* Download button*/
/*<span class="material-symbols-outlined">download</span>*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"); /* Play Circle*/
/*<span class="material-symbols-outlined">play_circle</span>*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"); /* videocam */
/*<span class="material-symbols-outlined">videocam</span>*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"); /* Visibility*/
/*<span class="material-symbols-outlined">visibility</span>*/

* {
  box-sizing: border-box;
  padding: 0px;
}

body {
  background: #f5f5f5;
  margin: 0;
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("image1.jpg");
  background-size: cover;
}

.top2 {
  position: relative;
  background-image: url(image2.jpg);
  background-size: cover;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2vh 0 2vh 0;
  background: linear-gradient(
    180deg,
    #1e3553 -38.46%,
    rgba(30, 53, 83, 0) 127.56%
  );
  margin: 0px;
}

.navbar2 {
  display: flex;
  align-items: center;
  padding: 2vh 0 2vh 0;
  background: #1e3553;
  margin: 0px;
}

.logo {
  cursor: pointer;
  margin-left: 0.69vw;
}

.name {
  margin-left: 3vw;
  font-family: "Poppins";
  font-size: 2.1vw;
  color: #edf0f1;
}

.navlinks {
  margin-left: 6vw;
  width: 60vw;
  align-self: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navlinks li {
  color: #edf0f1;
  text-decoration: none;
}

.navlinks li a {
  font-size: 1.11vw;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.navlinks a:hover,
a:active {
  color: #ff69ff;
}

.welcome {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 6vw;
  line-height: 7vw;
  color: #ffffff;
  margin-top: 10vh;
  margin-left: 4.17vw;
}

.welcomep {
  width: 34.72vw;
  margin-top: 7vh;
  padding-bottom: 10vh;
  margin-left: 4.17vw;
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.25vw;
  line-height: 2.43vw;
  color: #ffffff;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

.joincontainers {
  margin-top: 9.14vh;
  margin-left: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.join {
  display: flex;
  flex-direction: column;
  width: 29vw;
  background-color: #142337;
}

.joinimg {
  width: 100%;
  background-size: cover;
}

.joinhead2 {
  margin-left: 1.39vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 6.22vh;
  /* letter-spacing: 0.0025em; */

  color: #ffffff;
}
.joinp2 {
  margin-left: 1.39vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 5vh;
  color: #ffffff;
}

.formheads {
  font-size: 1.5vw;
  margin-top: 5vh;
}

.forms {
  padding-left: 0.75vw;
  border: 1px solid #aaaaaa;
  border-radius: 0.5vw;
  height: 5vh;
  width: 32vw;
}

.forms:focus {
  outline: none;
}

.submitbtn {
  display: block;
  margin-top: 4vw;
  border: none;
  border-radius: 1vw;
  background-color: #32588a;
  color: #ffffff;
  width: 13vw;
  height: 6.5vh;
  font-family: poppins;
  font-size: 1vw;
}

.footcont {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background: #28466e;
  width: 100%;
}

.footchurchnameheads {
  font-family: "poppins";
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1vw;
  color: #ffffff;
}

.footnav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footnav a {
  font-size: 0.9vw;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #edf0f1;
}

.footdiv1 {
  margin: 20px 0 20px 20px;
}

.footdiv2 {
  margin: 5px 10px 0 0;
  text-align: center;
}

.footlocation {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  color: #ffffff;
}

.footnumber {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  color: #ffffff;
  margin-top: 20px;
}
